<div class="row">
    <div class="col-6 col-md-6">
        <app-donut title="sales"></app-donut>
    </div>

    <div class="col-6 col-md-6">
        <app-donut
        [labels]="labels1"
        [backgroundColor]="colors1"
        [data]="data1"
        title="Compras"></app-donut>
    </div>
</div>

<div class="row">
    <div class="col-6 col-md-6">
        <app-donut></app-donut>
    </div>

    <div class="col-6 col-md-6">
        <app-donut title="Otras compras"></app-donut>
    </div>
</div>
